.pl10{
    padding-left: 10px;
    padding-top:5px;
}
.pl20{
    padding-left: 20px;
    padding-top:5px;
}
.pl30{
    padding-left: 30px;
    padding-top:5px;
}
.pl40{
    padding-left: 40px;
    padding-top:5px;
}
